@page
@model Asp.net5RazorPagesExample.Areas.User.Pages.ServicesModel
@inject Asp.net5RazorPagesExample.Services.CommonLocalizationService localizer

@{
    ViewData["Title"] = @localizer.Get("Services");
    Layout = "~/Pages/Shared/_UserLayout.cshtml";
}

<h1>@localizer.Get("Services")</h1>

<div class="row">
    @foreach (var item in Model.Service)
    {
        <div class="card m-1" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.NameAr</h5>
                <p class="card-text">@item.DescriptionAr.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }

</div>


